body{
    background: grey;
}

.parent{
    position: relative;
    width: 300px;
    height: 150px;
    background: red;
}

   .child {
     position: absolute;
     width: 40px;
     height: 40px;
     background: red;
     bottom: -16px;
     left: 28px;
     transform: rotate(45deg);
}

.mainbox{
    text-align: center;
    margin-top: 20px;
    margin: 0auto;
    
}

.line{
    width: 160px;
    height: 3px;
    background: yellow;
    margin: 0 auto;
}